.infoBox{
    flex: 1;
    cursor: pointer ;
}
.infoBox:not(:last-child){
    margin-right: 10px;
}
.infoBox--selected{
    border-top: 10px solid rgb(8, 212, 8);
}

.infoBox--green{
    color: rgb(8, 212, 8) !important;
}
.infoBox--red{
    border-color: #ff0000;
}
.infoBox__cases{
    color: #ff0000;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
}
@media screen and (max-width: 425px) {
    .infoBox__cases {
      font-size: 5vw;
    }
    .infoBox__title{
        font-size: 4vw !important;
    }
  }
.infoBox__total{
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 0.8rem !important; 
    margin-bottom: 15px !important;
}